[workspace]
resolver = "2"
members = [
  "cli",
  "daemon",
  "proxy"
]

[workspace.dependencies]
anyhow = "1.0.100"
clap = { version = "4.5.51", features = ["derive", "env"] }
tokio = { version = "1.48.0", features = [
  "rt-multi-thread",
  "macros",
  "time",
  "sync",
  "signal",
] }
